<!Doctype HTML>

<html>
    <head>
        <!--- Meta -->
        <meta charset="utf-8"/>
        <!--- Title  -->
        <title>{% block title %} {% endblock %} TrackHours title </title>

        <!-- Css Files -->
        <link rel="stylesheet"  type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"</link>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>TrackHours</strong></a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'trackhours:plans' %}" class="navbar-item">Plans</a>

                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{% url 'trackhours:signup' %}" class="button is-success"><strong>Sign Up</strong>
                            <a href="#" class="button">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--End Navbar-->

        <!-- Main -->
        <section class="section">
            {% block content %}
            {% endblock content %}
        </section>
        <!--End Main -->

        <!-- Footer -->
       <footer class="footer">
            <div class="columns is-multiline">
                <div class="column is-4">
                    <h2 class="subtitle">Trackhours</h2>
                </div>

                <div class="column is-offset-6 is-2">
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'trackhours:privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'trackhours:terms' %}">Terms of Service</a></li>
                    </ul>
                </div>

                <div  class="column is-12 has-text-centered">
                    <p>Copyright (c) 2021</p>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    
        <!-- Scripts -->
        <script src="https://unpkg.com/vue@3.0.5"></script>
        {% block script %}
        {% endblock %}
        <!-- End Scripts -->
        
    </body>
</html>